
<div class="container app bg-light">
    <!-- Columna de busqueda -->
    <div class="col col-md-12 p-3 mb-6 bg-light text-black app">
        <h3>Definir busqueda</h3>
        <p></p>
        <!-- filtro clave -->
        <div class="col-md-10 p-1 mb-2 Cabeceras-style sombras">
            <img src="/assets/Icon/png/magnifying-glass-3x.png" id="Logo">
            <h5>Palabra Clave</h5>
        </div>
        <div class="mb-2 bg-light text-white">
            <form class="keyword-form">
                <div class="input-group">
                    <input type="text" class="col col-md-7 form-control" name="term" placeholder="Palabra clave">
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-primary" (click)="buscar()">
                            Buscar
                        </button>
                    </span>
                </div>
            </form>
        </div>
        <!-- filtro zona -->
        <div class="col-md-10 p-1 mb-2 Cabeceras-style sombras">
            <img src="/assets/Icon/png/map-marker-3x.png" id="Logo">
            <h5>Zona</h5>
        </div>
        <div class="mb-2 bg-light text-white">
            <form class="keyword-form">
                <div class="input-group">
                    <input type="text" class="col col-md-7 form-control" name="term" placeholder="Codigo Postal">
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-primary">
                            Buscar
                        </button>
                    </span>
                </div>
            </form>
        </div>
        <!-- filtro de estado -->
        <div class="col-md-10 p-1 mb-2 Cabeceras-style sombras">
            <img src="/assets/Icon/png/map-marker-3x.png" id="Logo">
            <h5>Estado</h5>
        </div>
        <ul class="col col-md-10 list-group">
            <a href="#" class="list-group-item d-flex justify-content-between align-items-center">
                Jalisco
                <span class="badge badge-success">23</span>
            </a>
            <a href="#" class="list-group-item d-flex justify-content-between align-items-center">
                Yucatan
                <span class="badge badge-success">47</span>
            </a>
        </ul>
        <p></p>
        <!-- filtro de Ciudad -->
        <div class="col-md-10 p-1 mb-2 Cabeceras-style sombras">
            <img src="/assets/Icon/png/map-marker-3x.png" id="Logo">
            <h5>Ciudad</h5>
        </div>
        <ul class="col col-md-10 list-group">
            <a href="#" class="list-group-item d-flex justify-content-between align-items-center">
                Guadalajara
                <span class="badge badge-success">987</span>
            </a>
            <a href="#" class="list-group-item d-flex justify-content-between align-items-center">
                Merida
                <span class="badge badge-success">234</span>
            </a>
        </ul>
        <p></p>
        <!-- filtro de categoria -->
        <div class="col-md-10 p-1 mb-2 Cabeceras-style sombras">
            <img src="/assets/Icon/png/grid-three-up-3x.png" id="Logo">
            <h5>Categoria</h5>
        </div>
        <ul class="col col-md-10 list-group">
            <a href="#" class="list-group-item d-flex justify-content-between align-items-center">
                Informatica
                <span class="badge badge-success">64</span>
            </a>
        </ul>
        <p></p>
        <!-- filtro de Escolaridad -->
        <div class="col-md-10 p-1 mb-2 Cabeceras-style sombras">
            <img src="/assets/Icon/png/briefcase-3x.png" id="Logo">
            <h5>Escolaridad</h5>
        </div>
        <ul class="col col-md-10 list-group">
            <a href="#" class="list-group-item d-flex justify-content-between align-items-center">
                Ingenieria
                <span class="badge badge-success">49</span>
            </a>
        </ul>
        <p></p>
        <!-- filtro de jornada laboral -->
        <div class="col-md-10 p-1 mb-2 Cabeceras-style sombras">
            <img src="/assets/Icon/png/clock-3x.png" id="Logo">
            <h5>Jornada Laboral</h5>
        </div>
        <ul class="col col-md-10 list-group">
            <a href="#" class="list-group-item d-flex justify-content-between align-items-center">
                Tiempo Completo
                <span class="badge badge-success">90</span>
            </a>
        </ul>
        <p></p>
        <!-- filtro de Salario -->
        <div class="col-md-10 p-1 mb-2 Cabeceras-style sombras">
            <img src="/assets/Icon/png/dollar-3x.png" id="Logo">
            <h5>Salario</h5>
        </div>
        <ul class="col col-md-10 list-group">
            <a href="#" class="list-group-item d-flex justify-content-between align-items-center">
                $10,000 a $20,000
                <span class="badge badge-success">34</span>
            </a>
        </ul>
    </div>
</div>